body {
    margin: 0px;
    padding: 0px;
}
.title {
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 20px;
}
.table {
    border-collapse: collapse;
}
.table thead {
    font-size: 11px;
    font-weight: bold;
}
.table .header td{
    background-color: #C1C1C1;
    text-align: center;
}
.table thead td {
    background-color: #EEEEEE;
}
.prog {
    background-color: #dddddd;
}
.table tr {
    border-collapse: collapse;
}
.table td{
    font-size: 12px;
    padding: 5px;
    border-collapse: collapse;
    border: thin solid black;
}
.gray {
    background-color: gray;
}
.green {
    background-color: green;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    body {
        background: none;
        -ms-zoom: 1.665;
    }
    div.portrait, div.landscape {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
    }
    div.landscape {
        transform: rotate(270deg) translate(-276mm, 0);
        transform-origin: 0 0;
    }
}
.box_export {
    top: 0px;
    right: 0px;
    padding: 10px 0px 10px 0px;
    background: gray;
    height: 20px;
    margin: 0px;
    margin-bottom: 10px;
  }
  .box_export ul {
    margin: 0px;
    padding: 0px;
  }
  .box_export li {
    display: inline;
  }
  .box_export li a {
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
  }
  .box_export li a:hover {
    background-color: green;
  }
.lg-text {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}
.italic-text {
  font-size: 11px;
  font-style: italic;
  padding: 5px;
}